fastapi
uvicorn[standard]
pydantic
python-dotenv

SQLAlchemy
PyMySQL
cryptography

langchain
langchain-core
langchain-community
langgraph
langsmith

langchain-google-genai

chromadb
langchain-chroma

numpy
pandas

httpx
requests